[Unit]
Description=Quotes

[Service]
User=ec2-user
#change this directory into your workspace
#mkdir workspace 
WorkingDirectory=/usr/local/quotes
#path to the executable bash script which executes the jar file
ExecStart=/bin/bash /usr/local/bin/quotes.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target