[Unit]
Description=Quotes

[Service]
User=ec2-user
WorkingDirectory=/usr/local/quotes
ExecStart=/bin/bash /usr/local/bin/quotes.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target