name: teardown

on: workflow_dispatch

jobs:
  teardown:
    runs-on: ubuntu-latest
    steps:
      - name: Delete CF Stack
        uses: tylergohl/action-aws-cli@main
        with:
          args: cloudformation delete-stack --stack-name vpc-stack
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "us-west-2"
